@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1.000 0.000 158.199);
  --foreground: oklch(0.093 0.000 158.199);
  --card: oklch(1.000 0.000 158.199);
  --card-foreground: oklch(0.093 0.000 158.199);
  --popover: oklch(1.000 0.000 158.199);
  --popover-foreground: oklch(0.093 0.000 158.199);
  --primary: oklch(0.644 0.415 2.390);
  --primary-foreground: oklch(1.000 0.000 158.199);
  --secondary: oklch(0.961 0.039 354.242);
  --secondary-foreground: oklch(0.093 0.000 158.199);
  --muted: oklch(0.961 0.039 354.242);
  --muted-foreground: oklch(0.484 0.000 158.199);
  --accent: oklch(0.930 0.073 352.272);
  --accent-foreground: oklch(0.093 0.000 158.199);
  --destructive: oklch(0.550 0.504 31.170);
  --destructive-foreground: oklch(1.000 0.000 158.199);
  --border: oklch(0.869 0.142 351.875);
  --input: oklch(0.869 0.142 351.875);
  --ring: oklch(0.644 0.415 2.390);}

.dark {
  --background: oklch(0.093 0.000 158.199);
  --foreground: oklch(1.000 0.000 158.199);
  --card: oklch(0.152 0.000 158.199);
  --card-foreground: oklch(1.000 0.000 158.199);
  --popover: oklch(0.152 0.000 158.199);
  --popover-foreground: oklch(1.000 0.000 158.199);
  --primary: oklch(0.715 0.322 358.675);
  --primary-foreground: oklch(0.093 0.000 158.199);
  --secondary: oklch(0.164 0.115 347.990);
  --secondary-foreground: oklch(1.000 0.000 158.199);
  --muted: oklch(0.164 0.115 347.990);
  --muted-foreground: oklch(0.849 0.000 158.199);
  --accent: oklch(0.210 0.141 350.785);
  --accent-foreground: oklch(1.000 0.000 158.199);
  --destructive: oklch(0.479 0.545 35.022);
  --destructive-foreground: oklch(1.000 0.000 158.199);
  --border: oklch(0.210 0.141 350.785);
  --input: oklch(0.210 0.141 350.785);
  --ring: oklch(0.715 0.322 358.675);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
